<main class="main">
    <div class="container main__container">
        <div class="title main__title">
            Расходы
        </div>
        <div id="card-block" class="main__cards"></div>
    </div>
</main>

<div id="sure" class="are__you">
    <div class="are__you__text">Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.</div>
    <div class="are__you__actions">
        <div id="yes-shur" class="btn btn-success are">Да, удалить</div>
        <div id="no-shur" class="btn btn-danger are">Не удалять</div>
    </div>
</div>
<div id="sure-bg" class="are__you__bg"></div>