<main class="main">
    <div class="container main__container">
        <div class="title main__title">
            Редактировать категорию расходов
        </div>
        <div class="main__change">
            <div class="form">
                <input id="name-creat" type="text" class="form-control" placeholder="Название...">
            </div>
            <div class="main__change__actions">
                <div id="save" class="btn btn-success are">Сохранить</div>
                <div id="rej" class="btn btn-danger are">Отмена</div>
            </div>
        </div>
    </div>
</main>