<main class="main">
    <div class="container main__container">
        <div class="title main__title">
            Создание дохода/расхода
        </div>
        <div class="main__change">
            <div class="form">
                <select id="type" class="form-control input-create">
                    <option value="">Тип...</option>
                    <option value="income">income</option>
                    <option value="expense">expense</option>
                </select>
                <select id="category" class="form-control input-create">
                    <option value="">Категория...</option>
                </select>
                <input id="amount" type="text" class="form-control input-create" placeholder="Сумма в $...">
                <input id="data" type="date" class="form-control input-create" placeholder="Дата...">
                <input id="comment" type="text" class="form-control input-create" placeholder="Комментарий...">
            </div>
            <div class="main__change__actions">
                <button id="acc" class="btn btn-success are">Создать</div>
                <div id="rej" class="btn btn-danger are">Отмена</div>
            </div>
        </div>
    </div>
</main>